@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the width */
    background-color: rgb(247, 248, 243);
}

.account-header {
    display: flex;
    width: 100%;
    background-color: rgb(247, 248, 243);
    align-items: flex-start;
    box-sizing: border-box;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 30px;

}

.circle-image {
    width: 250px; /* Adjust size as necessary */
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-name {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.account-info-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-left: 40px; /* Added margin to the left to push content right */
    margin-top: 50px;
}

.account-information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 0; /* Resets any default margin */
    padding: 0; /* Resets any default padding */
}

.posts-count, .followers-count, .following-count, .engagements-count {
    font-size: 2em;
    margin: 0;
}

.post-title, .followers-title, .following-title, .engagement-title {
    font-size: 1em;
    margin: 0;
}
.engagment {
    display: flex;
    flex-direction: column;
    align-items: center;
}
.account-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.account-posts {
    width: 100%;
    background-color: white;
}

.modal {
    position: fixed; /* Stay in place */
    z-index: 1; /* Sit on top */
    left: 0;
    top: 0;
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    display: flex; /* Use flex to center children */
    justify-content: center; /* Center horizontally */
    align-items: center; /* Center vertically */
    padding-top: 50px;
}


.modal-content {
    background: white;
    margin: 15px; /* Give some space around the modal */
    max-width: 900px; /* Maximum width */
    width: 100%; /* Adapt to the width of the screen */
    max-height: 80vh; /* Adjust to your needs, ensuring it doesn't go off screen */
    overflow: auto; /* Scroll inside the modal content if needed */
    border-radius: 8px; /* Optional: for rounded corners */
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1); /* Optional: for shadow */
    animation: animatetop 0.4s; /* Optional: if you want to keep the animation */
}



/* Add Animation */
@keyframes animatetop {
    from {top: -300px; opacity: 0}
    to {top: 0; opacity: 1}
}