@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@400;700&display=swap');

.account-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 100%;
    margin: auto;
    padding: 20px;
    box-sizing: border-box; /* Ensure padding is included in the width */
    background-color: rgb(247, 248, 243);
}

.account-header {
    display: flex;
    width: 100%;
    background-color: rgb(247, 248, 243);
    align-items: flex-start;
    box-sizing: border-box;
}

.profile-section {
    display: flex;
    flex-direction: column;
    align-items: left;
    margin-right: 40px;
    margin-left: 40px;
    margin-bottom: 30px;

}

.circle-image {
    width: 250px; /* Adjust size as necessary */
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    margin-bottom: 10px;
}

.profile-name {
    font-family: 'Roboto', sans-serif;
    font-size: 24px;
    font-weight: 700;
    text-align: center;
}

.account-info-buttons {
    display: flex;
    flex-direction: column;
    width: 100%;
    align-items: center;
    margin-left: 40px; /* Added margin to the left to push content right */
    margin-top: 50px;
}

.account-information {
    display: flex;
    justify-content: space-around;
    align-items: center;
    width: 50%;
    margin-bottom: 20px;
}

.stats {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.posts-count, .followers-count, .following-count, .engagements-count {
    font-size: 2em;
    margin: 0;
}

.post-title, .followers-title, .following-title, .engagement-title {
    font-size: 1em;
    margin: 0;
}

.account-buttons {
    width: 100%;
    display: flex;
    justify-content: center;
}

.account-posts {
    width: 100%;
    background-color: white;
}
