.treehouse-container {
  display: flex;
  height: 100vh;
  transition: background-color 0.5s ease;
  background-color: rgb(247, 248, 243);
  backdrop-filter: blur(10px);
}

.treehouse-content {
  flex: 1; /* This will allow the image to take up only as much space as it needs */
  display: flex;
  align-items: center; /* This will vertically center the image within its container */
}

.treehouse-content img {
  width: auto;
  height: 100%;
  object-fit: contain;
  z-index: 1;
}

.badass-words {
  flex: 1; /* This will give the text container the remaining space */
  display: flex;
  justify-content: center; /* This will horizontally center the text within its container */
  align-items: center; /* This will vertically center the text within its container */
  text-align: center; /* This will center the text itself */
  z-index: 2;
}
