.NavigationButtons {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: left-start;
  align-items: center;
  padding: 0px 40px;
  background-color: rgb(247, 248, 243);
  z-index: 1000;
  border-bottom: 2px solid black;
}

.nav-left {
  padding-right: 900px;
}

.nav-right {
  display: flex;
  gap: 20px;
}

.NavButton {
  padding: 15px 20px;
  background-color: #076a6a !important;
  color: white;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  font-size: 18px;
  height: auto;
  white-space: nowrap;
}

.NavButton:hover {
  background-color: #054d4d;
}
