/* Search.css */
.search-wrapper {
    display: flex;
    flex-direction: column;
    margin-top: 20px;
    width: 100%;
    align-items: center; /* Center-align the elements */
}

.search-bar-container {
    width: 100%;
    max-width: 800px; /* Set a max width for the search bar */
    box-sizing: border-box;
    margin: 20px 0; /* Add some vertical spacing */
}

.search-input {
    width: 100%;
    padding: 15px 20px; /* Increase padding for a better appearance */
    font-size: 1rem;
    border: none; /* Remove the border */
    outline: none;
    border-radius: 25px; /* Rounded edges */
    margin-bottom: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); /* Soft shadow for depth */
    box-sizing: border-box;
    transition: all 0.3s ease; /* Smooth transition for focus effect */
}

.search-input:focus {
    box-shadow: 0 6px 12px rgba(0, 0, 0, 0.15); /* Deeper shadow when focused */
}

.accounts-list {
    display: none;
    max-height: 200px;
    overflow-y: auto;
    width: 100%;
    max-width: 800px; /* Match the width of the search input */
    border-radius: 5px;
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    box-sizing: border-box;
    background-color: #fff; /* Background color for the dropdown */
}

.accounts-list.visible {
    display: block;
}

.account-item {
    padding: 10px 20px; /* Consistent padding with the search input */
    border-bottom: 1px solid #eee;
    cursor: pointer;
    transition: background-color 0.3s ease;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.05); /* Optional: subtle shadow for each item */
}

.account-item:hover {
    background-color: #f2f2f2;
}

.account-item-selected {
    background-color: #e9e9e9;
    border-left: 4px solid #ef6509; /* Color to match your theme */
}

.account-item:last-child {
    border-bottom: none;
    margin-bottom: 0; /* Remove margin for the last item */
}

@media (max-width: 600px) {
    .search-input,
    .account-item {
        font-size: 0.9rem; /* Adjust font size for smaller screens */
    }
}

.selected-account-container {
    width: 100%; /* Set width to span the entire screen */
}