.followButton {
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent;
    color: #333;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 1em;
    transition: background-color 0.3s, color 0.3s;
    box-sizing: border-box;
    text-align: center;
}

.followButton:hover {
    background-color: #f7a335;
    border-color: #bbbbbb00; /* Transparent border on hover */
    color: white;
}

.followButton.unfollow {
    background-color: transparent; /* Keep background transparent for consistency */
    color: #333; /* Dark text color */
}

.followButton.unfollow:hover {
    background-color: #167474; /* Slightly darker grey on hover */
    border-color: transparent;
}

