.followButton {
    padding: 10px 20px;
    cursor: pointer;
    background-color: transparent; /* Maintain a transparent background */
    color: #333; /* Dark text color */
    border: 1px solid #ccc; /* Thin, solid border */
    border-radius: 5px; /* Slight rounded corners for a softer look */
    font-size: 1em;
    transition: all 0.3s ease; /* Smooth transition for all properties */
    box-sizing: border-box; /* Include padding and border in the width */
    font-weight: 500; /* Slightly bolder text for readability */
    text-align: center; /* Ensure text is centered */
}

.followButton:hover {
    background-color: #f7a335; /* Soft orange background on hover */
    border-color: #e0e0e0; /* Light grey border on hover */
    color: white; /* White text for contrast on hover */
}

.followButton.unfollow {
    background-color: #e0e0e0; /* Light grey background for 'unfollow' */
    color: #333; /* Maintain dark text color */
}

.followButton.unfollow:hover {
    background-color: #cccccc; /* Slightly darker grey on hover */
    border-color: transparent; /* Transparent border on hover */
}
